<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
</head>

<body>

<div class="box" id="particles-js"></div>
<div class="container py-5">
  <header class="text-center">
    <h1 class="display-4 text-white">Recommender</h1>
    <form autocomplete="Off" action="{{ url_for('login') }}" method="post">
        <p><input type="text" name="name" value="" placeholder="Name"
                  style="width: 25%; margin-top: 50px"></p>
        <p><input type="password" name="password" value="" placeholder="Password"
                  style="width: 25%"></p>
        <input id="submitBtn" type="submit" value="Sign in">
    </form>
  </header>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src={{ url_for("static", filename="js/particles.js") }}></script>
<script src={{ url_for("static", filename="js/apps.js") }}></script>
</body>
</html>