{% extends "home.html" %}
{% block tableBlock %}
<div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="table-responsive">
              {% if query %}
                {% if not hide_options %}
                 <button type="button" class="btn rounded-0">
                     <a href="{{ url_for('display_stored') }}">Check saved entries!</a>
                 </button>
                {% endif %}
                <h3>Companies similar to {{ query }}: </h3>
              {% endif %}

            <table id={{"table" if not hide_options else "table_no_options"}}
              style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                    {% for column_name in table['columns'] %}
                        <td>{{ column_name }}</td>
                    {% endfor %}
                        {% if not hide_options %}
                        <td> Options </td>
                        {% endif %}
                    </tr>
                </thead>
                {% for row in table['rows'] %}
                    {% set index = loop.index-1 %}
                    <tr class="mainEntry expand">
                        {% for value in row %}
                            {% if 'http' in value|lower and 'linkedin' in value|lower %}
                                <td>
                                     <a href={{ value }} target="_blank">
                                         <img border="0" alt="Linkedin"
                                              src={{ url_for("static", filename="images/linkedin.png") }}
                                         width="50px" height="50px">
                                     </a>
                                </td>
                            {% elif 'http' in value|lower %}
                                  <td>
                                     <a href={{ value }} target="_blank">
                                         <img border="0" alt="website"
                                              src={{ url_for("static", filename="images/web.png") }}
                                              width="50px" height="50px">
                                     </a>
                                </td>
                            {% else %}
                                <td>
                                    {% if loop.index == 2 and table['details'] %}
                                        {{ value }}
                                        <br/>
                                        {% set text = table['details'][index] %}
                                        <p style="color: blue;" data-toggle="tooltip" title="{{ text }}">Details</p>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if not hide_options %}
                            <td>

                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
              {% if download_csv %}
              <form autocomplete="Off" action="{{ url_for('display_stored') }}" method="post">
                  <input id="submitBtn" type="submit" value="Download CSV">
              </form>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}