{% extends "home.html" %}
{% block tableBlock %}
<div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="table-responsive">
              {% if query %}
                <h3>Companies similar to {{ query }}: </h3>
              {% endif %}
            <table id="table" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                    {% for column_name in table['columns'] %}
                        <td>{{ column_name }}</td>
                    {% endfor %}
                        {% if not hide_options %}
                        <td> Options </td>
                        {% endif %}
                    </tr>
                </thead>
                {% for row in table['rows'] %}
                    <tr class="mainEntry expand">
                        {% for value in row %}
                            <td> {{ value }}</td>
                        {% endfor %}
                        {% if not hide_options %}
                            <td>
                                <button type="button" class="btn btn-primary store">Save for later</button>
                                <button type="button" class="btn btn-danger store">Discard</button>
                            </td>
                        {% endif %}
                    </tr>
                    {% if table['details'] %}
                        <tr style="display: none;">
                            <td colspan={{ table['columns']|length }}>
                            Most similar feature: {{ table['details'][loop.index-1][0] }} <br/>
                            Most different feature: {{ table['details'][loop.index-1][-1] }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
              {% if not hide_options %}
                <p><a href="{{ url_for('display_stored') }}">Check saved entries!</a></p>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}